# The top-level dependencies are listed here.
# Using pip-tools you can automatically generate requirements.txt.
# This helps you segegate the top-level dependencies and makes the
# upgrade process easier.

# Here, the dependencies aren't pinned to keep them updated.
# However, you should pin your top-level dependencies.

# https://github.com/jazzband/pip-tools

pyjwt==2.9.0
jupyterhub==5.1.0
pytest==8.3.3
pytest-asyncio==0.24.0
pytest-cov==5.0.0
requests-mock==1.12.1
jupyterhub-kubespawner==6.2.0
httplib2==0.22.0
oauthenticator==17.0.0
jupyterhub-idle-culler==1.4.0
kubernetes==31.0.0
loguru==0.7.2
addict==2.4.0
pydantic==2.9.2
