name: Publish to PyPI

on:
  push:
    branches: [ "ESAEOEPCA-236", "patch-1" ]
    paths:
    - 'apphub-configurator/**'
    
  release:
    types: [published]
  pull_request:
    branches: [develop, main]
    paths:
    - 'apphub-configurator/**'
  
    
permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        cache: 'pip'
    - name: Install dependencies
      run: |
        # python -m pip install --upgrade pip
        pip install hatch
    - name: Build package
      run: |
        rm -rf application_hub_context
        rm -rf setup*
        cd apphub-configurator/
        hatch build 
        ls -la
        mv -f dist/ ../
        cd - 
        ls -la

    - name: Publish package distributions to PyPI (main)
      if: github.ref == 'refs/heads/main'
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: https://upload.pypi.org/legacy/
    - name: Publish package distributions to PyPI (develop)
      if: github.ref != 'refs/heads/main' 
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: https://test.pypi.org/legacy/